#MacOSX
*/.DS_Store
.DS_Store

#Python
# Byte-compiled / optimized / DLL files
/Py**/__pycache__/
/Py**/*.py[cod]
/Py**/*$py.class
# C extensions
/Py**/*.so
# Distribution / packaging
/Py**/.Python
/Py**/build/
/Py**/develop-eggs/
/Py**/dist/
/Py**/downloads/
/Py**/eggs/
/Py**/.eggs/
/Py**/lib/
/Py**/lib64/
/Py**/parts/
/Py**/sdist/
/Py**/var/
/Py**/wheels/
/Py**/pip-wheel-metadata/
/Py**/share/python-wheels/
/Py**/*.egg-info/
/Py**/.installed.cfg
/Py**/*.egg
/Py**/MANIFEST
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
/Py**/*.manifest
/Py**/*.spec
# Installer logs
/Py**/pip-log.txt
/Py**/pip-delete-this-directory.txt
# Unit test / coverage reports
/Py**/htmlcov/
/Py**/.tox/
/Py**/.nox/
/Py**/.coverage
/Py**/.coverage.*
/Py**/.cache
/Py**/nosetests.xml
/Py**/coverage.xml
/Py**/*.cover
/Py**/*.py,cover
/Py**/.hypothesis/
/Py**/.pytest_cache/
# Translations
/Py**/*.mo
/Py**/*.pot
# Django stuff:
/Py**/*.log
/Py**/local_settings.py
/Py**/db.sqlite3
/Py**/db.sqlite3-journal
# Flask stuff:
/Py**/instance/
/Py**/.webassets-cache
# Scrapy stuff:
/Py**/.scrapy
# Sphinx documentation
/Py**/docs/_build/
# PyBuilder
/Py**/target/
# Jupyter Notebook
/Py**/.ipynb_checkpoints
# IPython
/Py**/profile_default/
/Py**/ipython_config.py
# pyenv
/Py**/.python-version
# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
/Py**/__pypackages__/
# Celery stuff
/Py**/celerybeat-schedule
/Py**/celerybeat.pid
# SageMath parsed files
/Py**/*.sage.py
# Environments
/Py**/.env
/Py**/.venv
/Py**/env/
/Py**/venv/
/Py**/ENV/
/Py**/env.bak/
/Py**/venv.bak/
# Spyder project settings
/Py**/.spyderproject
/Py**/.spyproject
# Rope project settings
/Py**/.ropeproject
# mkdocs documentation
/Py**/site
# mypy
/Py**/.mypy_cache/
/Py**/.dmypy.json
/Py**/dmypy.json
# Pyre type checker
/Py**/.pyre/

# Cxx
# Prerequisites
/C**/*.d
# Compiled Object files
/C**/*.slo
/C**/*.lo
/C**/*.o
/C**/*.obj
# Precompiled Headers
/C**/*.gch
/C**/*.pch
# Compiled Dynamic libraries
/C**/*.so
/C**/*.dylib
/C**/*.dll
# Fortran module files
/C**/*.mod
/C**/*.smod
# Compiled Static libraries
/C**/*.lai
/C**/*.la
/C**/*.a
/C**/*.lib
# Executables
/C**/*.exe
/C**/*.out
/C**/*.app
#CMake
/C**/CMakeLists.txt.user
/C**/CMakeCache.txt
/C**/CMakeFiles
/C**/CMakeScripts
/C**/Testing
/C**/Makefile
/C**/cmake_install.cmake
/C**/install_manifest.txt
/C**/compile_commands.json
/C**/CTestTestfile.cmake
/C**/_deps

# Folders
/C**/build/
!/C**/MinGW/
/Py**/Lib/site- packages/
